src/main/mule/learndb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f262a62e-93c3-4c15-a1ee-e2e34c43e6f3" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="39d9dd19-ec05-4cce-87c7-16ccf4dec343" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="sampletest" />
	</db:config>
	<flow name="learndbFlow" doc:id="251a157f-ee6a-4850-b36a-821f6008f943" >
		<http:listener doc:name="Listener" doc:id="c2cdd09b-8971-4ae4-9fe2-a24e2853e0f4" config-ref="HTTP_Listener_config" path="/db"/>
		<db:update doc:name="Update" doc:id="1586f422-4f8b-4587-a3d0-af19c592ec78" config-ref="Database_Config">
			<db:sql ><![CDATA[update sampletest.account_holders set contact = 8955646 where name = "martha";]]></db:sql>
		</db:update>
		<ee:transform doc:name="Transform Message" doc:id="c597a3e3-17ac-458c-97db-55a68dbf4f64" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="196b99ce-6f42-4f63-9baf-9f2e35af2e59" message="#[payload]"/>
	</flow>
	<flow name="learndbFlow1" doc:id="2245efa1-fc1b-4bc0-9107-6f5ccadc1f2f" >
		<http:listener doc:name="Listener" doc:id="f31fab00-0aa7-4457-a3f0-378740112743" config-ref="HTTP_Listener_config" path="/select"/>
		<db:select doc:name="Select" doc:id="7c0bfebf-9193-4c30-94de-3bf3e150bb00" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from sampletest.account_holders where account_no =:no;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	no : attributes.queryParams.no
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="03be2ef2-3506-42ff-b7b8-4616bee8965f" >
			<when expression="#[isEmpty(payload)]">
				<ee:transform doc:name="Transform Message" doc:id="acd3617c-e072-4f7a-b252-13dc7b96fddd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	result : "no data found"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="863fddd7-d17c-47d4-b007-a816cc6d4ab3" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="ca51c350-732f-40a6-9d47-91b0e8fc7481" message="#[payload]"/>
	</flow>
</mule>
